<div class="bg-dark text-center">
    <p class="m-0">Edit Players</p>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" class="col-3">Username</th>
            <th scope="col" class="col-3">PatientZero</th>
            <th scope="col" class="col-3">State</th>
            <th scope="col" class="col-3">
                Delete
                <button class="btn btn-dark float-end pb-0 pt-0 m-0" (click)="refresh()">Refresh</button>
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of _players">
            <td scope="row">{{p.username}}</td>
            <td>
                {{p.player.isPatientZero}}
                <button class="btn btn-light ms-1" (click)="changePatientZero(p.player)">
                    <img class="image" src="../../../assets/images/swap.png" alt="swap">
                </button>
            </td>
            <td *ngIf="p.player.isHuman">
                Human
                <button class="btn btn-light ms-1" (click)="changeHuman(p.player)">
                    <img class="image" src="../../../assets/images/swap.png" alt="swap">
                </button>
            </td>
            <td *ngIf="!p.player.isHuman">
                Zombie
                <button class="btn btn-light ms-1" (click)="changeHuman(p.player)">
                    <img class="image" src="../../../assets/images/swap.png" alt="swap">
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-dark"><fa-icon [icon]="faTrash" class="me-2" (click)="deletePlayer(p.player)"></fa-icon></button>
            </td>
        </tr>
    </tbody>
</table>