<div class="bg-dark text-center">
    <p class="m-0">Edit Players</p>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" class="col-3">Name</th>
            <th scope="col" class="col-3">PatientZero</th>
            <th scope="col" class="col-3">State</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of _players">
            <td scope="row">{{player.id}}</td>
            <td>
                {{player.isPatientZero}}
                <button class="btn btn-light ms-1" (click)="changePatientZero(player)">
                    <img class="image" src="../../../assets/images/swap.png" alt="swap">
                </button>
            </td>
            <td *ngIf="player.isHuman">
                Human
                <button class="btn btn-light ms-1">
                    <img class="image" src="../../../assets/images/swap.png" alt="swap">
                </button>
            </td>
            <td *ngIf="!player.isHuman">
                Zombie
                <button class="btn btn-light ms-1">
                    <img class="image" src="../../../assets/images/swap.png" alt="swap">
                </button>
            </td>
        </tr>
    </tbody>
</table>