<div>
    <h1>Game description:</h1>
    <p>{{_description}}</p>
    <h1>Rules:</h1>
    <ul>
        <li>Be cool</li>
        <li>Be nice</li>
        <li>Don't hit</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
        <li>Remember to have fun</li>
    </ul>
</div>
