<div>
    <h1 *ngIf="_game.gameState==='Complete'" class="text-center">!Game is finished!</h1>
    <h1>Game description:</h1>
    <p>{{_game.description}}</p>
    <h1>Rules:</h1>
    <ul>
        <li class="mb-3">The game starts with one or more patient Zero which start out as zombies.</li>
        <li class="mb-3">The goal of the game is for either the zombies to turn all humans into zombies, or for the humans to manage to survive until the time runs out.</li>
        <li>When a human is "bitten" by a zombie, the human must give the zombie their bite code in order for the zombie to register the kill. The human is now transferred to the zombie team.</li>
    </ul>
</div>
