<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Game title</th>
        <th scope="col">Number of players</th>
        <th scope="col">Game state</th>
        <th scope="col">Start date</th>
        <th scope="col"><button class="btn btn-primary">Refresh</button></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>10</td>
            <td>State 1</td>
            <td>10.10.2022 10:00:00</td>
            <td scope="row"><button class="btn btn-sucess" id ="view-button">View</button></td>
          </tr>
    </tbody>
  </table>