<div class="">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Game title</th>
        <th scope="col">Number of players</th>
        <th scope="col">Game state</th>
        <th scope="col">Start date</th>
        <th scope="col">
          <app-create-game *ngIf="_user && _user.isAdmin"></app-create-game>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <th scope="row">{{game.name}}</th>
            <td class="scalableFont">{{game.numberOfPlayers}}</td>
            <td class="scalableFont">{{game.gameState}}</td>
            <td class="scalableFont">{{timeToReadable(game.startTime)}}</td>
            <td scope="row">
              <button class="btn btn-sucess scalableFont" id ="view-button" (click)="goToGame(game)">View</button>
              <app-edit-game [game]="game"></app-edit-game>
              <button type="button" class="btn btn-dark"><fa-icon [icon]="faTrash" class="me-2" (click)="deleteGame(game)" *ngIf="_user && _user.isAdmin"></fa-icon></button>
            </td>
          </tr>
    </tbody>
  </table>
</div>
