<nav class="navbar navbar-expand-lg bg-dark justify-content-between sticky-top">
    <a class="navbar-brand ms-4" id="navbar-brand" (click)="goToLanding()">
        <img src="../../../assets/images/chasing.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Humans VS Zombies
      </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li>
                <a class="nav-item nav-link" id="nav-main"*ngIf="isNotLanding()"  (click)="goToLanding()">Main</a>
            </li>
            <li>
                <a  class="nav-item nav-link"*ngIf="isAuthenticated() === true" (click)="handleLogout()">Logout</a>
            </li>
            <li>
                <a class ="nav-item nav-link "*ngIf="isAuthenticated() === false"  (click)="handleLogin()">Login</a>
            </li>
        </ul>
        
    </div>
</nav>
