<nav class="navbar bg-dark justify-content-between mb-3 sticky-top">
    <h2 class="navbar-brand ms-2 text-white headerFont">HvZ</h2>
    <div class="grid me-2">
        <button *ngIf="isNotLanding()" class="btn col me-1 btn-light" (click)="goToLanding()">Main</button>
        <button *ngIf="isAuthenticated() === true" class="btn col me-1 btn-light" (click)="handleLogout()">Logout</button>
        <button *ngIf="isAuthenticated() === false" class ="btn col me-1 btn-light" (click)="handleLogin()">Login</button>
        <button  class="btn col me-1 btn-light" (click)="handleLogToken()">Display token</button>
        <button class="btn col me-1 btn-light" (click)="handleMakeAdmin()">Make admin</button>
    </div>
</nav>
