<nav class="navbar navbar-expand-lg bg-dark justify-content-between sticky-top mb-5">
    <a class="navbar-brand ms-4" id="navbar-brand" (click)="goToLanding()">
        <img src="../../../assets/images/chasing.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="headerFont ms-3">HvZ</span>
      </a>
    <div class="float-end me-3 d-flex">
        <button class="btn btn-dark" *ngIf="isNotLanding()"  (click)="goToLanding()">Main</button>
        <button  class="btn btn-dark"*ngIf="isAuthenticated()" (click)="handleLogout()">Logout</button>
        <button class ="btn btn-dark"*ngIf="!isAuthenticated()"  (click)="handleLogin()">Login</button>
    </div>
</nav>
