.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
    transform: scale(1.2);
}
.nav-item:hover{
    background-color: var(--light-grey);
    color: black;

}
a{
    color: white;
}
