.modal-content{
    background-color: var(--purple);
    color: white;
}

label{
    margin-right: 1rem;
    margin-left: 1rem;
}
.btn-close{
    background-color: white;
}


form button{
    margin-left: auto;
    margin-right: auto;
}

#newGameHelp{
    color: white;
}

#descriptionHelp{
    color: white;
}