<button type="button" class="btn btn-dark scalableFont" data-bs-toggle="modal" attr.data-bs-target="#editGameModal{{game.id}}">Edit</button>


<div class="modal fade" id="editGameModal{{game.id}}" tabindex="-1" aria-labelledby="editGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="gmaeModalLabel">Edit game</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form #newGameForm="ngForm" (ngSubmit)="onSubmit(newGameForm)"> 
                  <div class="mb-3">
                      <label for="inputgameName" class="form-label">Game name</label>
                      <input type="text" class="form-control" name="gameName" id="inputgameName" aria-describedby="newGameHelp" [ngModel]="game.name" minlength="1" required #gameName="ngModel">
                      <div id="newGameHelp" class="form-text">Please enter the name of the game</div>
                      <div *ngIf="gameName.errors && (gameName.dirty || gameName.touched)">
                          <div id="newGameHelp" class="form-text" *ngIf="gameName.errors['required']">Game name is required</div>
                          <div id="newGameHelp" class="form-text" *ngIf="gameName.errors['minlength']">Game name is too short</div>
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="inputState" class="form-label">Game state</label>
                    <select class="form-select" name="state" id="inputState" aria-describedby="stateHelp" required [ngModel]="game.gameState" #state="ngModel">
                        <option value="Registration">Registration</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Complete">Complete</option>
                    </select>
                </div>
                  <div class="mb-3">
                      <label for="inputDescription" class="form-label">Description</label>
                      <input type="text" class="form-control" name="description" id="inputDescription" aria-describedby="descriptionHelp" required [ngModel]="game.description" #description="ngModel">
                      <div *ngIf="description.errors && (description.dirty || description.touched)">
                          <div id="descriptionHelp" class="form-text" *ngIf="description.errors['required']">Description is required</div>
                          <div id="descriptionHelp" class="form-text" *ngIf="description.errors['minlength']">Description is too short</div>
                      </div>
                  </div>
                  <div class="input-group mb-3">
                      <label for="nwInputLat" class="form-label">Nw Latitude:</label>
                      <input type="number" class="form-control rounded-1 me-2" name="nwLatitude" id="nwInputLat" [ngModel]="game.nw_Lat">
                      <label for="nwInputLng" class="form-label">Nw Longitude:</label>
                      <input type="number" class="form-control rounded-1" name="nwLongitude" id="nwInputLng" [ngModel]="game.nw_Lng">
                  </div>
                  <div class="input-group mb-3">
                      <label for="seInputLat" class="form-label">Se Latitude:</label>
                      <input type="number" class="form-control rounded-1 me-2" name="seLatitude" id="seInputLat" [ngModel]="game.se_Lat">
                      <label for="seInputLng" class="form-label">Se Longitude:</label>
                      <input type="number" class="form-control rounded-1" name="seLongitude" id="seInputLng" [ngModel]="game.se_Lng">
                  </div>
                  <div class="input-group mb-3">
                      <label for="inputStartTime" class="form-label">Start time:</label>
                      <input type="datetime-local" class="form-control rounded-1 me-2" name="startTime" id="inputStartTime" [ngModel]="toLocalTime(game.startTime)">
                  </div>
                  <div class="input-group mb-3">
                      <label for="inputEndTime" class="form-label">End time:</label>
                      <input type="datetime-local" class="form-control rounded-1 me-2" name="endTime" id="inputEndTime" [ngModel]="toLocalTime(game.endTime)">
                  </div>
                      <button type="submit" [disabled]="newGameForm.invalid" class="btn btn-dark" data-bs-dismiss="modal">Submit edit</button>
              </form>
          </div>
      </div>
    </div>
</div>