<div class="grid mt-2">
    <div class="row">
        <h2 class="col-sm ml-3">Game Title</h2>
        <p class="col-sm text-center my-auto">Faction: Human</p>
        <div class="col-sm grid mr-3">
            <div class="row">
                <button class="btn col mr-1 seeThrough">Register</button>
                <button class="btn col mr-1 seeThrough">Description</button>
                <button class="btn col mr-1 seeThrough">Rules</button>
            </div>
        </div>
    </div>
</div>
