<div class="pe-3 ps-3 mt-3">
  <div class="container-fluid pt-2 mainPurple  pb-3">
    <div class="row">
        <h2 class="col-sm ms-3">{{_title}}</h2>
        <div class="col-sm">
          <p *ngIf="player && player.isHuman" class="text-center my-auto">Faction: Human</p>
          <p *ngIf="player && !player.isHuman" class="text-center my-auto">Faction: Zombie</p>
        </div>
        <div class="col-sm grid me-1">
            <div class="row">
                <button *ngIf="!player && _game.gameState === 'Registration'" class="btn col seeThrough" (click)="register()">Register</button>
                <button class="btn col seeThrough" [routerLink]="'info'">Info</button>
            </div>
        </div>
    </div>
    <div class="row ms-0">
        <div class="dropdown col">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Game Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item text-black" routerLink="map">Map</a>
              <a *ngIf="player" class="dropdown-item text-black" routerLink="chat">Chat</a>
              <a *ngIf="player" class="dropdown-item text-black" routerLink="squad-select">Squad</a>
              <a *ngIf="_isAdmin" class="dropdown-item text-black" routerLink="player-edit">Player Edit</a>
            </div>
          </div>
        <app-create-mission *ngIf="_isAdmin" class="col me-3"></app-create-mission>
        <app-bite-code-form *ngIf="player && player.isHuman === false"class="col text-end me-3"></app-bite-code-form>
        <span *ngIf="player && player.isHuman === true">Bite code: {{player.biteCode}}</span>
    </div>
    <div class="fragment mt-3 border-top border-bottom border-3 border-dark shadow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>