<button type="button" 
        class="btn btn-light scalableFont" 
        data-bs-toggle="modal" 
        data-bs-target="#pingModal"
        (click)="isClicked()">
        Ping
</button>
  
<div class="modal fade" id="pingModal" tabindex="-1" aria-labelledby="pingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="pingModalLabel">Map</h5>
                <button type="button" 
                        class="btn-close btn-close-white" 
                        (click)="removeMarker()"
                        data-bs-dismiss="modal" 
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="clicked && hasCoordinates()">
                    <form #checkInForm="ngForm" (ngSubmit)="checkIn(checkInForm)"> 
                        <div class="map mb-3"
                            leaflet 
                            [leafletOptions]="options"
                            [leafletLayers]="layers"
                            (leafletMapReady)="onMapReady($event)">
                        </div>
                        <button type="button" class="btn btn-light getPos" (click)="getPosition()"><fa-icon [icon]="faLocationDot" class="me-2"></fa-icon></button>
                        <div class="input-group mb-3">
                            <label for="inputStartTime" class="form-label me-2">Start time:</label>
                            <input type="datetime-local" class="form-control rounded-1" name="startTime" id="inputStartTime" ngModel required #startTime="ngModel">
                        </div>
                        <div *ngIf="startTime.errors && (startTime.dirty || startTime.touched)">
                            <div id="newMissionHelp" class="form-text" *ngIf="startTime.errors['required']">Start time is required</div>
                        </div> 
                        <div class="input-group mb-3">
                            <label for="inputEndTime" class="form-label me-2">End time:</label>
                            <input type="datetime-local" class="form-control rounded-1" name="endTime" id="inputEndTime" ngModel required #endTime="ngModel">
                        </div>
                        <div *ngIf="endTime.errors && (endTime.dirty || endTime.touched)">
                            <div id="newMissionHelp" class="form-text" *ngIf="endTime.errors['required']">End time is required</div>
                        </div> 
                        <button type="submit" [disabled]="checkInForm.invalid" class="btn btn-light" data-bs-dismiss="modal">Check In</button>
                    </form>
                </div>
                <div *ngIf="!hasCoordinates()" class="map d-flex align-items-center">
                    <h1 class="m-auto">Map not set</h1>
                </div>
            </div>
        </div>
    </div>
</div>